
@{
    ViewData["Title"] = "Cuenta";
}

<h2>Cuenta</h2>

<div class="item active" style="align-content:center;">

    <img w src="/images/huella.png" alt="" style="width:33.3%;  float:left" class="img-responsive" />

</div>


    <div class="row">

    </div>